.container {
  padding: 5px;
  width: 95%;
}

#nav_bar {
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  height: 75px;
}

.btn .btn-secondary {
  cursor: pointer;
  border: none;
  background: none;
  padding-top: 10px;
}

.btn: hover {
  background: none;
  cursor: pointer;
}
