.container {
  padding: 5px;
  width: 95%;
}

#nav_bar {
  font-size: 25px;
  text-align: center;
  background-color: rgba(247, 188, 129, 0.7);
  border-radius: 5px;
  height: 75px;
  vertical-align: middle;
}

.btn {
  white-space: nowrap;
  cursor: pointer;
  border: none;
  background: none;
  vertical-align: middle;
  padding: 15px;
}
